<body>

<%= form_tag("/search/results", method: "post") do %>
<%=label_tag(:c, "Subject:") %>
<select name="subject_id">
	<%= @subjects.each do |subject| %>
    	<option value="<%= subject.id %>"><%= subject.name %></option>
    <% end %>
</select>
<br />

<%=label_tag(:s, "Course:") %>
<%= text_field_tag(:s) %>
<br />
<%= submit_tag("Search") %>

<% end %>
</body>
